  <section class="l-footer">
    <div class="l-footer-pc">
      <section>
        <div class="l-footer__wrap">
          <div class="l-footer__inner">
            <div class="l-footer__sns">
              <ul class="l-footer__snsBox">
                <li class="l-footer__fb"><a href="#">Facebook</a></li>
                <li class="l-footer__yt"><a href="#">YouTube</a></li>
                <li class="l-footer__linkedIn"><a href="#">LinkedIn</a></li>
                <li class="l-footer__hatebu"><a href="#">はてなブックマーク</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div><!-- #footer-pc -->

    <div class="l-footer-sp">
      <div class="l-footer__pageTop">
        <a href="#">ページの先頭へ</a>
      </div>
      <section>
        <div class="l-footer__nav">
          <div class="l-footer__navInner">
            <ul class="l-footer__sloganWrap">
              <li class="l-footer__logo">
                <img src="./assets/images/endorcareerW.png" alt="ENDOR CAREER">
              </li>
              <li class="l-footer__slogan">
                <img src="./assets/images/footer/slogan.png" alt="JOB IS COLORFUL">
              </li>
            </ul>
          </div>
        </div>

        <ul class="l-footer__group">
          <li class="l-footer__groupIndex">ENDORグループ</li>
          <li><a href="#">ENDORホールディングス</a></li>
          <li><a href="#">ENDOR CAREER</a></li>
          <li><a href="#">ENDORテクノロジー</a></li>
          <li><a href="#">ENDOR STAFF</a></li>
          <li><a href="#">ENDOR fin</a></li>
          <li><a href="#">ENDOR総合</a></li>
        </ul>

        <ul class="l-footer__group">
          <li class="l-footer__groupIndex">グループサービス</li>
          <li><a href="#">endor</a></li>
          <li><a href="#">ENDOR tech</a></li>
          <li><a href="#">ENDOR ENT</a></li>
        </ul>

        <ul class="l-footer__snsBox">
          <li class="l-footer__fb"><a href="#">Facebook</a></li>
          <li class="l-footer__yt"><a href="#">YouTube</a></li>
          <li class="l-footer__linkedIn"><a href="#">LinkedIn</a></li>
          <li class="l-footer__hatebu"><a href="#">はてなブックマーク</a></li>
          <li class="l-footer__snsTxt f-inner">ソーシャルメディア公式アカウント</li>
        </ul>
        <ul class="l-footer__compliance f-inner">
          <li><a href="#">情報セキュリティ基本方針</a></li>
          <li><a href="#">個人情報保護方針</a></li>
          <li><a href="#">個人情報の取り扱いについて</a></li>
          <li><a href="#">ソーシャルメディア運営ポリシー</a></li>
          <li><a href="#">取扱職種の範囲等</a></li>
        </ul>
        <div class="l-footer__copyright f-inner">&copy; PERSOL CAREER CO., LTD.</div>
      </section>
    </div><!-- #footer-sp -->
  </section>


  <footer class="l-footer-pc__mainWrap">
    <section class="l-footer-pc__main">
      <div class="l-footer-pc__infoWrap">
        <div class="l-footer-pc__infoInner">
          <div class="l-footer-pc__info">
            <ul class="l-footer-pc__infoGroup">
              <li>ENDORグループ</li>
              <li>
                <p><a href="#">ENDORホールディングス</a></p>
                <p><a href="#">ENDOR CAREER</a></p>
                <p><a href="#">ENDORテクノロジー</a></p>
              </li>
              <li>
                <p><a href="#">ENDOR STAFF</a></p>
                <p><a href="#">ENDOR fin</a></p>
                <p><a href="#">ENDOR総合所</a></p>
              </li>
            </ul>
            <ul class="l-footer-pc__infoGroup">
              <li>グループサービス</li>
              <li>
                <p><a href="#">endor</a></p>
                <p><a href="#">ENDOR ENT</a></p>
              </li>
              <li>
                <p><a href="#">ENDOR tech</a></p>
              </li>
            </ul>
            <ul class="l-footer-pc__sloganWrap">
              <li class="l-footer__logo">
                <img src="./assets/images/endorcareerW.png" alt="ENDOR CAREER">
              </li>
              <li class="l-footer__slogan">
                <img src="./assets/images/footer/slogan.png" alt="JOB IS COLORFUL">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="l-footer__compliance">
        <ul class="l-footer-pc__complianceInner">
          <li><a href="#" class="l-footer-pc__arrowLink foot">情報セキュリティ基本方針</a></li>
          <li><a href="#" class="l-footer-pc__arrowLink foot">個人情報保護方針</a></li>
          <li><a href="#" class="l-footer-pc__arrowLink foot">個人情報の取り扱いについて</a></li>
          <li><a href="#" class="l-footer-pc__arrowLink foot">ソーシャルメディア運営ポリシー</a></li>
          <li><a href="#" class="l-footer-pc__arrowLink foot">取扱職種の範囲等</a></li>
        </ul>
      </div>
      <div class="l-footer__copyright f-inner">
        <p class="l-footer__copyrightInner">&copy; PERSOL CAREER CO., LTD.</p>
      </div>
    </section>

    <div class="l-footer-pc__pageTop">
      <a href="#"><span>PAGETOP</span></a>
    </div>
  </footer>

</div><!-- l-wrap -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>
</html>
