  <section class="l-footer"><!-- フッター -->
    <div class="l-footer-pc">
      <section>
        <div class="l-footer__wrap">
          <div class="l-footer__inner">
            <div class="l-footer__sns">
              <ul class="l-footer__snsBox">
                <li class="l-footer__fb"><a href="#">Facebook</a></li>
                <li class="l-footer__yt"><a href="#">YouTube</a></li>
                <li class="l-footer__linkedIn"><a href="#">LinkedIn</a></li>
                <li class="l-footer__hatebu"><a href="#">はてなブックマーク</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div><!-- #footer-pc -->

    <div class="l-footer-sp">
      <div class="l-footer__pageTop">
        <a href="#">ページの先頭へ</a>
      </div>
      <section>
        <ul class="l-footer__nav">
          <li>
            <ul class="l-footer__sloganWrap">
              <li class="l-footer__logo">
                <img src="./assets/images/endorcareerW.png" alt="ENDOR CAREER">
              </li>
              <li class="l-footer__slogan">
                <img src="./assets/images/footer/slogan.png" alt="JOB IS COLORFUL">
              </li>
            </ul>
          </li>
        </ul>

        <ul class="f-common">
          <li class="ttl">パーソルグループ</li>
          <li><a href="#">パーソルホールディングス</a></li>
          <li><a href="#">パーソルテンプスタッフ</a></li>
          <li><a href="#">パーソルキャリア</a></li>
          <li><a href="#">パーソルプロセス&amp;テクノロジー</a></li>
          <li><a href="#">パーソルR&amp;D</a></li>
          <li><a href="#">パーソル総合研究所</a></li>
        </ul>

        <ul class="f-common">
          <li class="ttl">グループサービス</li>
          <li><a href="#">テンプスタッフ</a></li>
          <li><a href="#">doda</a></li>
        </ul>

        <ul class="snsBox">
          <li class="facebook"><a href="#">Facebook</a></li>
          <li class="youtube"><a href="#">YouTube</a></li>
          <li class="linkedin"><a href="#">LinkedIn</a></li>
          <li class="hatebu"><a href="#">はてなブックマーク</a></li>
          <li class="txt inner">ソーシャルメディア公式アカウント</li>
        </ul>
        <ul id="f-compliance" class="inner">
          <li><a href="#">情報セキュリティ基本方針</a></li>
          <li><a href="#">個人情報保護方針</a></li>
          <li><a href="#">個人情報の取り扱いについて</a></li>
          <li><a href="#">ソーシャルメディア運営ポリシー</a></li>
          <li><a href="#">取扱職種の範囲等</a></li>
        </ul>
        <div class="copyright inner">&copy; PERSOL CAREER CO., LTD.</div>
      </section>
    </div><!-- #footer-sp -->
  </section><!-- #foot-item -->


  <footer id="footer" class="pconly">
    <section id="f-common-box">
      <div class="f-common-groupinfo">
        <div class="inner-min">
          <div id="f-common">
            <ul class="f-common-group">
              <li>パーソルグループ</li>
              <li>
                <p><a href="#">パーソルホールディングス</a></p>
                <p><a href="#">パーソルキャリア</a></p>
                <p><a href="#">パーソルR&amp;D</a></p>
              </li>
              <li>
                <p><a href="#">パーソルテンプスタッフ</a></p>
                <p><a href="#">パーソルプロセス&amp;テクノロジー</a></p>
                <p><a href="#">パーソル総合研究所</a></p>
              </li>
            </ul>
            <ul class="f-common-service">
              <li>グループサービス</li>
              <li>
                <p><a href="#">テンプスタッフ</a></p>
              </li>
              <li>
                <p><a href="#">doda</a></p>
              </li>
              <!-- <li>
                <p><a href="https://weban.jp/" target="_blank">an</a></p>
              </li> -->
            </ul>
            <ul class="ft-logo">
              <li class="logo"><img src="/img/common/logo_persol_horizontal_wh.svg" alt="PERSOL"></li>
              <li class="slogan"><img src="/img/common/slowgan_wh.svg" alt="はたらいて、笑おう。"></li>
            </ul><!-- .ft-logo -->
          </div>
        </div><!-- #footer-common -->
      </div><!-- #footer-compliance -->
      <div id="f-compliance">
        <ul class="inner-min">
          <li><a href="#" class="arrow-link foot">情報セキュリティ基本方針</a></li>
          <li><a href="#" class="arrow-link foot">個人情報保護方針</a></li>
          <li><a href="#" class="arrow-link foot">個人情報の取り扱いについて</a></li>
          <li><a href="#" class="arrow-link foot">ソーシャルメディア運営ポリシー</a></li>
          <li><a href="#">取扱職種の範囲等</a></li>
        </ul>
      </div><!-- #footer-compliance -->
      <div id="copyright" class="inner">
        <p class="copyright">&copy; PERSOL CAREER CO., LTD.</p>
      </div>
    </section>

    <div class="pagetop-pc pconly"><a href="#pagetop"><span>PAGETOP</span></a></div>
  </footer>

</div><!-- l-wrap -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>
</html>
