<header>
  <!-- SP header -->
  <div class="l-header-sp">
    <div class="l-header-sp__logo">
      <a href="#">
        <img src="./assets/images/endorcareer.png" alt="エンドルキャリア - ENDOR CAREER">
      </a>
    </div>
    <div class="l-header-sp__menuTriggerWrap">
      <div class="l-header-sp__menuTrigger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <ul class="p-header-sp">
      <li class="p-header-sp__mission">
        <div class="p-header-sp__indexWrap">
          <div class="p-header-sp__index">
            ミッション
          </div>
          <div class="p-header-sp__indexChild">
            <ul>
              <li class="p-header-sp__childWrap">
                <ul>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      私たちのミッション
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      私たちがミッションを掲げる理由
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      ミッションに込めた想い
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      ミッション推進に向けた取り組み
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="p-header-sp__service">
        <div class="p-header-sp__indexWrap">
          <div class="p-header-sp__index">
            事業・サービス
          </div>
          <div class="p-header-sp__indexChild">
            <ul>
              <li>
                <a href="#" class="p-header-sp__childMain">
                  事業・サービストップ
                </a>
              </li>
              <li class="p-header-sp__childWrap">
                <ul>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      個人のお客様
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      法人のお客様
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      コンテンツ紹介
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      公式ソーシャルメディア
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      CM動画
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </dl>
      </li>
      <li class="p-header-sp__corporate">
        <div class="p-header-sp__indexWrap">
          <div class="p-header-sp__index">
            会社情報
          </div>
          <div class="p-header-sp__indexChild">
            <ul>
              <li>
                <a href="#" class="p-header-sp__childMain">
                  会社情報トップ
                </a>
              </li>
              <li class="p-header-sp__childWrap">
                <ul>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      会社概要
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      代表メッセージ
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      ビジョン
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      ブランド
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      会社沿革
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      オフィス紹介
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="p-header-sp__recruit">
        <div class="p-header-sp__indexWrap">
          <div class="p-header-sp__index">
            採用情報
          </div>
          <div class="p-header-sp__indexChild">
            <ul>
              <li>
                <a href="#" class="p-header-sp__childMain">
                  採用情報トップ
                </a>
              </li>
              <li class="p-header-sp__childWrap">
                <ul>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      新卒採用
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childCategory">
                      ENTRY
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      キャリア採用
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childCategory">
                      募集中職種
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      障害者採用
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      代表メッセージ
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      事業部紹介
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      社員インタビュー
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      制度・環境
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      女性活躍推進の取り組み
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      管理職採用
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="p-header-sp__news">
        <div class="p-header-sp__indexWrap">
          <div class="p-header-sp__index">
            プレスルーム
          </div>
          <div class="p-header-sp__indexChild">
            <ul>
              <li>
                <a href="#" class="p-header-sp__childMain">
                  プレスルームトップ
                </a>
              </li>
              <li class="p-header-sp__childWrap">
                <ul>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      ニュースリリース
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      イベント情報
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      メディア情報
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-header-sp__childText">
                      ソーシャルメディア
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="p-header-sp__info">
        <ul>
          <li>
            <a href="#" class="p-header-sp__infoLink">
              サイトマップ
            </a>
          </li>
          <li>
            <a href="#" class="p-header-sp__infoLink">
              お問い合わせ
            </a>
          </li>
        </ul>
        <form>
          <div class="p-header-sp__infoSearch">
            <div class="p-header-sp__infoSearchLeft">
              <input type="text" name="q" id="MF_form_phrase" autocomplete="off">
            </div>
            <div class="p-header-sp__infoSearchRight">
              <input type="submit" value="検索">
            </div>
            <input type="hidden" name="ie" value="utf8">
          </div>
        </form>
      </li>
    </ul>
  </div>
  <!-- PC header -->
  <div class="l-header-pc">
    <div class="l-header-sp__logo">
      <a href="#">
        <img src="./assets/images/endorcareer.png" alt="エンドルキャリア - ENDOR CAREER">
      </a>
    </div>
    <ul class="p-header-sp__info">
      <li class="p-header-sp__infoSearch">
        <div class="p-header-sp__searchBox">
          <form>
            <input class="l-header-pc__searchInput" placeholder="" type="text" value="" name="q" id="MF_form_phrase" autocomplete="off">
            <input class="l-header-pc__searchSubmit" type="submit" value="">
            <input type="hidden" name="ie" value="utf8">
            <span class="l-header-pc__searchIcon"></span>
          </form>
        </div>
      </li>
      <li>
        <a href="#" class="l-header-pc__txtLink">
          お問い合わせ
        </a>
      </li>
      <li>
        <a href="#" class="l-header-pc__txtLink">
          サイトマップ
        </a>
      </li>
    </ul>
    <nav class="l-header-pc__nav">
      <div class="l-header-pc__navInner">
        <ul>
          <li class="l-header-pc__mainNav">
            <span class="l-header-pc__navIndex nav-mission">
              ミッション
            </span>
            <div class="l-header-pc__subNav">
              <button class="l-header-pc__subClose">
                <span></span>
              </button>
              <ul>
                <li>
                  <p class="l-header-pc__subLeft"></p>
                </li>
                <li class="l-header-pc__subMiddle">
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">私たちのミッション</a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">私たちがミッションを掲げる理由</a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">ミッションに込めた想い</a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">ミッション推進に向けた取り組み</a>
                  </p>
                </li>
                <li class="l-header-pc__subAfter">
                </li>
                <li>
                </li>
              </ul>
            </div>
          </li>
          <li class="l-header-pc__mainNav">
            <span class="l-header-pc__navIndex nav-service">
              事業・サービス
            </span>
            <div class="l-header-pc__subNav">
              <button class="l-header-pc__subClose">
                <span></span>
              </button>
              <ul>
                <li class="l-header-pc__subLeft">
                  <a href="#">
                    事業・サービス トップ
                  </a>
                </li>
                <li>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      個人のお客様
                    </a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      法人のお客様
                    </a>
                  </p>
                </li>
                <li>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      コンテンツ紹介
                    </a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      公式ソーシャルメディア
                    </a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      CM動画
                    </a>
                  </p>
                </li>
                <li class="l-header-pc__subImage service">
                  <a href="#" class="l-header-pc__subLinkBox">
                    <p class="l-header-pc__subLinkTitle">MOVIE</p>
                    <p class="l-header-pc__subSmallTitle">CM動画</p>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="l-header-pc__mainNav">
            <span class="l-header-pc__navIndex nav-corporate">
              会社情報
            </span>
            <div class="l-header-pc__subNav">
              <button class="l-header-pc__subClose">
                <span></span>
              </button>
              <ul>
                <li class="l-header-pc__subLeft">
                  <a href="#">
                    会社情報 トップ
                  </a>
                </li>
                <li>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      会社概要
                    </a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      ビジョン
                    </a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      沿革
                    </a>
                  </p>
                </li>
                <li>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      代表メッセージ
                    </a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      ブランド
                    </a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      オフィス
                    </a>
                  </p>
                </li>
                <li class="l-header-pc__subImage corporate">
                  <a href="#" class="l-header-pc__subLinkBox">
                    <p class="l-header-pc__subLinkTitle">BRAND</p>
                    <p class="l-header-pc__subSmallTitle">ブランド</p>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="l-header-pc__mainNav">
            <span class="l-header-pc__navIndex nav-recruit">
              採用情報
            </span>
            <div class="l-header-pc__subNav">
              <button class="l-header-pc__subClose">
                <span></span>
              </button>
              <ul>
                <li class="l-header-pc__subLeft">
                  <a href="#">
                    採用情報 トップ
                  </a>
                </li>
                <li>
                  <p class="l-header-pc__subMiddleIndex mb0">
                    <a href="#">
                      新卒採用
                    </a>
                  </p>
                  <p class="l-header-pc__subChildIndex mb30">
                    <a href="#">
                      ENTRY
                    </a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex mb0">
                    <a href="#">
                      キャリア採用
                    </a>
                  </p>
                  <p class="l-header-pc__subChildIndex mb30">
                    <a href="#">
                      募集中職種
                    </a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      障害者採用
                    </a>
                  </p>
                </li>
                <li>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      代表メッセージ
                    </a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      事業部紹介
                    </a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      社員インタビュー
                    </a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      制度・環境
                    </a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      女性活躍推進の取り組み
                    </a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      管理職採用
                    </a>
                  </p>
                </li>
                <li class="l-header-pc__subImage recruit">
                  <a href="#" class="l-header-pc__subLinkBox">
                    <p class="l-header-pc__subLinkTitle">WOMEN</p>
                    <p class="l-header-pc__subSmallTitle">女性活躍推進の取り組み</p>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="l-header-pc__mainNav">
            <span class="l-header-pc__navIndex nav-social">
              プレスルーム
            </span>
            <div class="l-header-pc__subNav">
              <button class="l-header-pc__subClose">
                <span></span>
              </button>
              <ul>
                <li class="l-header-pc__subLeft">
                  <a href="#">
                    プレスルーム トップ
                  </a>
                </li>
                <li>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      ニュースリリース
                    </a>
                  </p>
                  <p class="l-header-pc__subChildIndex">
                    <a href="#">
                      コーポレート
                    </a>
                  </p>
                  <p class="l-header-pc__subChildIndex">
                    <a href="#">
                      サービス
                    </a>
                  </p>
                  <p class="l-header-pc__subChildIndex">
                    <a href="#">
                      キャンペーン
                    </a>
                  </p>
                  <p class="l-header-pc__subChildIndex">
                    <a href="#">
                      アーカイブ
                    </a>
                  </p>
                </li>
                <li>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      イベント情報
                    </a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      メディア情報
                    </a>
                  </p>
                  <p class="l-header-pc__subMiddleIndex">
                    <a href="#">
                      ソーシャルメディア
                    </a>
                  </p>
                </li>
                <li class="l-header-pc__subImage social">
                  <a href="#" class="l-header-pc__subLinkBox">
                    <p class="l-header-pc__subLinkTitle">SOCIAL</p>
                    <p class="l-header-pc__subSmallTitle">公式 Facebook</p>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <span class="l-header-pc__textLine"></span>
      </div>
    </nav>
  </div><!-- #header-pc -->
</header>