<% var title = "TOP"; var description = "トップのdescription"; %> <% include
src/ejs/template/_head %>

<% include src/ejs/template/_header %>

  <main class="l-main">
    <section class="l-main__contents">
      <div class="l-main__topHero">
        <div class="l-main__topNews">
          <div class="l-main__topNewsInner">
            <table class="l-main__info">
              <div class="l-main__infoWrap">
                <div class="l-main__infoTtl">
                  <h2>INFORMATION</h2>
                  <div class="l-main__infoLink">
                    <a href="" class="l-main__infoArrowTab blue"></a>
                  </div>
                </div>
                <div class="p-main__news">
                  <div class="p-main__newsIndex">
                    <a href="#">
                      <div class="p-main__newsDate">
                        <p>2020/04/08</p>
                      </div>
                      <div class="p-main__newsTxtWrap">
                        <p class="p-main__newsTxt"> 新型コロナウイルス感染症への当社の対応に関するお知らせ（2021.03.23更新） </p>
                      </div>
                    </a>
                  </div>
                  <div class="p-main__newsIndex">
                    <a href="#">
                      <div class="p-main__newsDate">
                        <p>2020/02/28</p>
                      </div>
                      <div class="p-main__newsTxtWrap">
                        <p class="p-main__newsTxt"> 新型コロナウイルス感染拡大に伴う、新卒採用に関するお知らせ（2021.01.27更新） </p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </table>
            <table class="l-main__info">
              <div class="l-main__infoWrap">
                <div class="l-main__infoTtl">
                  <h2>PRESS ROOM</h2>
                  <div class="l-main__infoLink">
                    <a href="" class="l-main__infoArrowTab blue"></a>
                  </div>
                </div>
                <div class="p-main__news">
                  <div class="p-main__newsIndex">
                    <a href="#">
                      <div class="p-main__newsDate">
                        <p>2022/01/18</p>
                      </div>
                      <div class="p-main__newsTxtWrap">
                        <p class="p-main__newsTxt">
                          「男性育休」取得推進施策、“オンラインワンオペ育児” を実施 男性管理職が、家事育児のリアルを知るプログラムに挑戦
                        </p>
                      </div>
                    </a>
                  </div>
                  <div class="l-main__infoLink">
                    <a href="" class="l-main__infoArrowTab tablethidden">
                      一覧を見る
                    </a>
                  </div>
                  <div class="p-main__newsIndex">
                    <a href="#">
                      <div class="p-main__newsDate">
                        <p>2022/01/18</p>
                      </div>
                      <div class="p-main__newsTxtWrap">
                        <p class="p-main__newsTxt">
                          男性育休に関する意識調査 第2弾男性育休取得での不安１位は、男女ともに「収入」、職場環境を上回る管理職は3日以内取得なら8割以上が賛成、4カ月以上取得には半数が反対
                        </p>
                      </div>
                    </a>
                  </div>
                  <div class="p-main__newsIndex">
                    <a href="#">
                      <div class="p-main__newsDate">
                        <p>2022/01/14</p>
                      </div>
                      <div class="p-main__newsTxtWrap">
                        <p class="p-main__newsTxt">
                          転職サービス「endor」、「転職市場予測2022上半期」を発表 転職市場はほぼすべての業界・職種で求人増の傾向
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </table>
          </div><!-- .inner -->
        </div><!-- .topNews -->
        <div class="p-main__sliderWrap">
          <ul class="p-main__slider">
            <li class="slide slide01"></li>
            <li class="slide slide02"><a href="#"></a></li>
            <li class="slide slide03"><a href="#"></a></li>
            <li class="slide slide04"><a href="#"></a></li>
          </ul>
          <ul class="p-main__sliderDots">
          </ul>
        </div>
      </div>
      <div class="l-topNews-sp">
        <div class="l-main__topNewsInner">
          <table class="l-main__info">
            <div class="l-main__infoWrap">
              <div class="l-main__infoTtl">
                <h2>INFORMATION</h2>
                <div class="l-main__infoLink">
                  <a href="" class="l-main__infoArrowTab blue"></a>
                </div>
              </div>
              <div class="p-main__news">
                <div class="p-main__newsIndex">
                  <a href="#">
                    <div class="p-main__newsDate">
                      <p>2020/04/08</p>
                    </div>
                    <div class="p-main__newsTxtWrap">
                      <p class="p-main__newsTxt"> 新型コロナウイルス感染症への当社の対応に関するお知らせ（2021.03.23更新） </p>
                    </div>
                  </a>
                </div>
                <div class="p-main__newsIndex">
                  <a href="#">
                    <div class="p-main__newsDate">
                      <p>2020/02/28</p>
                    </div>
                    <div class="p-main__newsTxtWrap">
                      <p class="p-main__newsTxt"> 新型コロナウイルス感染拡大に伴う、新卒採用に関するお知らせ（2021.01.27更新） </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </table>
          <!-- .information -->
          <table class="l-main__info">
            <div class="l-main__infoWrap">
              <div class="l-main__infoTtl">
                <h2>PRESS ROOM</h2>
                <div class="l-main__infoLink">
                  <a href="" class="l-main__infoArrowTab blue"></a>
                </div>
              </div>
              <div class="p-main__news">
                <div class="p-main__newsIndex">
                  <a href="#">
                    <div class="p-main__newsDate">
                      <p>2022/01/18</p>
                    </div>
                    <div class="p-main__newsTxtWrap">
                      <p class="p-main__newsTxt">
                        「男性育休」取得推進施策、“オンラインワンオペ育児” を実施 男性管理職が、家事育児のリアルを知るプログラムに挑戦
                      </p>
                    </div>
                  </a>
                </div>
                <div class="l-main__infoLink">
                  <a href="" class="l-main__infoArrowTab tablethidden">
                    一覧を見る
                  </a>
                </div>
                <div class="p-main__newsIndex">
                  <a href="#">
                    <div class="p-main__newsDate">
                      <p>2022/01/18</p>
                    </div>
                    <div class="p-main__newsTxtWrap">
                      <p class="p-main__newsTxt">
                        男性育休に関する意識調査 第2弾男性育休取得での不安１位は、男女ともに「収入」、職場環境を上回る管理職は3日以内取得なら8割以上が賛成、4カ月以上取得には半数が反対
                      </p>
                    </div>
                  </a>
                </div>
                <div class="p-main__newsIndex">
                  <a href="#">
                    <div class="p-main__newsDate">
                      <p>2022/01/14</p>
                    </div>
                    <div class="p-main__newsTxtWrap">
                      <p class="p-main__newsTxt">
                        転職サービス「endor」、「転職市場予測2022上半期」を発表 転職市場はほぼすべての業界・職種で求人増の傾向
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </table><!-- .information -->
        </div><!-- .inner -->
      </div><!-- .topNews-sp -->
      <ul class="l-contents__top">
        <li class="l-contents__topLeft">
          <ul>
            <li class="l-contents__pic service full picLink">
              <a href="#">
                <div class="l-contents__ttlBox">
                  <p class="l-contents__ttlEn">SERVICE</p>
                  <h2 class="l-contents__ttlJp">事業・サービス</h2>
                </div>
              </a>
            </li>
            <li class="l-contents__pic personal quarter picLink">
              <a href="#">
                <div class="l-contents__ttlBox">
                  <p class="l-contents__ttlEn">PERSONAL</p>
                  <h2 class="l-contents__ttlJp">個人のお客さま</h2>
                </div>
              </a>
            </li>
            <li class="l-contents__pic business quarter picLink">
              <a href="#">
                <div class="l-contents__ttlBox">
                  <p class="l-contents__ttlEn">BUSINESS</p>
                  <h2 class="l-contents__ttlJp">法人のお客さま</h2>
                </div>
              </a>
            </li>
          </ul>
        </li>
        <li class="l-contents__pic corporate half high picLink">
          <a href="#">
            <div class="l-contents__ttlBox">
              <p class="l-contents__ttlEn">CORPORATE</p>
              <h2 class="l-contents__ttlJp">会社情報</h2>
            </div>
          </a>
        </li>
      </ul>
      <!-- picBox2 ビジョン -->
      <div class="l-contents__vision picLink">
        <a href="#">
          <div class="l-contents__ttlBox">
            <p class="l-contents__ttlEn">VISION</p>
            <h2 class="l-contents__ttlJp">ビジョン</h2>
          </div>
          <div class="l-contents__visionText">
            <div class="l-contents__visionLeft">
              <h2>
                <img src="./assets/images/endorcareerW.png" alt="ENDOR CAREER">
              </h2>
            </div>
            <div class="l-contents__visionRight">
              <div class="l-contents__copy">
                はたらかないと、生きていけない。<br> どうせなら、楽しくはたらきたい。<br><br>
                自分にしかできない、自分色の仕事を。<br class="l-contents__brSp">JOB IS COLORFUL
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- picBox3 ミッション -->
      <div class="l-contents2 picLink">
        <a href="#">
          <div class="l-contents__ttlBox">
            <p class="l-contents__ttlEn">MISSION</p>
            <h2 class="l-contents__ttlJp">ミッション</h2>
          </div>
          <div class="l-contents2__txt">
            <div class="l-contents__copy">
              私たちENDOR CAREERの使命。
              <br>
              それは、他でもないあなたの人生をより良くすること。
              <br class="l-contents__brSp">
              人生の多くの時間を占める、はたらく時間をより楽しくすること。
              <br class="l-contents__brSp">
              あなたの貴重な時間を、無駄にはしません。
            </div>
          </div>
        </a>
      </div>
      <!-- picBox4 事業部 -->
      <div class="l-contents2__org picLink">
        <a href="#">
          <div class="l-contents__ttlBox">
            <p class="l-contents__ttlEn">ORGANIZATION</p>
            <h2 class="l-contents__ttlJp">事業部紹介</h2>
          </div>
          <div class="l-contents__copy pcOnly">
            ENDOR CAREERの組織は、各事業部横断の強固な協力体制を活かしながら、
            <br class="l-contents__brPc">
            フラットな視点をもち顧客志向の強い組織づくりを進めています。
          </div>
          <div class="l-contents__copy spOnly">
            ENDOR CAREERの組織は、
            <br class="spOnly">
            各事業部横断の強固な協力体制を活かしながら、
            <br class="l-contents__brPc">
            フラットな視点をもち顧客志向の強い
            <br class="lspOnly">
            組織づくりを進めています。
          </div>
        </a>
      </div>
      <!-- picBox5 採用情報 -->
      <div class="l-contents2__recruit picLink">
        <a href="#">
          <div class="l-contents__ttlBox">
            <p class="l-contents__ttlEn">RECRUIT</p>
            <h2 class="l-contents__ttlJp">採用情報</h2>
          </div>
          <div class="l-contents__copy pcOnly">
            ENDOR CAREERの新卒採用、キャリア採用を紹介しています。<br>
            私たちのミッション「あなたの人生をより良くする」の実現を<br>
            私たちとともに目指していただける方をお待ちしております。
          </div>
          <div class="l-contents__copy spOnly">
            ENDOR CAREERの新卒採用、キャリア採用を紹介しています。<br>
            私たちのミッション「あなたの人生をより良くする」の実現を<br>
            私たちとともに目指していただける方をお待ちしております。
          </div>
        </a>
      </div>
      <!-- recruit -->
      <div class="l-contents2__recruitEntry">
        <div class="l-contents2__recruitType">
          <ul>
            <li class="l-contents2__relateItem picLink l-contents2__newGraduate">
              <a href="#">
                <h3 class="l-contents__ttlBox">
                  <p class="l-contents__ttlJp">新卒採用</p>
                  <p class="l-contents__ttlEn">NEW GRADUATE</p>
                </h3>
              </a>
            </li>
            <li class="l-contents2__relateItem picLink l-contents2__career">
              <a href="#">
                <h3 class="l-contents__ttlBox">
                  <p class="l-contents__ttlJp">キャリア採用</p>
                  <p class="l-contents__ttlEn">CAREER</p>
                </h3>
              </a>
            </li>
          </ul>
        </div>
      </div><!-- recruit -->
      <div class="l-pickup">
        <div class="l-pickup__inner l-pickup__spNoside">
          <h2 class="l-pickup__ttl">ピックアップコンテンツ</h2>
          <ul class="l-pickup__slider">
            <li class="l-pickup__slide">
              <a href="#">
                <div class="l-pickup__imgBox">
                  <img src="./assets/images/pickup/event.png" alt="イベント情報">
                </div>
                <div class="l-pickup__txtWrap">
                  <p class="l-pickup__contTtl">イベント情報</p>
                  <p class="l-pickup__txt">ENDOR CAREERが主催する、さまざまなイベント情報をご紹介します。</p>
                </div>
              </a>
            </li>
            <li class="l-pickup__slide">
              <a href="#">
                <div class="l-pickup__imgBox">
                  <img src="./assets/images/header/woman.jpg" alt="女性活躍推進の取り組み">
                </div>
                <div class="l-pickup__txtWrap">
                  <p class="l-pickup__contTtl">女性活躍推進の取り組み</p>
                  <p class="l-pickup__txt">女性一人ひとりの選択を後押しできる環境を、これからもつくり続けます。</p>
                </div>
              </a>
            </li>
            <li class="l-pickup__slide">
              <a href="#">
                <div class="l-pickup__imgBox">
                  <img src="./assets/images/pickup/work.png" alt="制度・環境">
                </div>
                <div class="l-pickup__txtWrap">
                  <p class="l-pickup__contTtl">制度・環境</p>
                  <p class="l-pickup__txt">人事制度、人材育成など、ENDOR CAREERのはたらく環境について紹介します。</p>
                </div>
              </a>
            </li>
            <li class="l-pickup__slide">
              <a href="#">
                <div class="l-pickup__imgBox">
                  <img src="./assets/images/pickup/expert.png" alt="管理職採用（マネジメント・エキスパート）">
                </div>
                <div class="l-pickup__txtWrap">
                  <p class="l-pickup__contTtl">管理職採用（マネジメント・エキスパート）</p>
                  <p class="l-pickup__txt">管理職経験は問いません。あなたのスキル・経験を活かしてキャリアアップしてみませんか？</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section><!-- contents終わり -->
  </main>

<% include src/ejs/template/_footer %>
